<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootmybatis.dao.IBookDao">
    <select id="findByTitle" parameterType="String" resultType="com.example.springbootmybatis.bean.Book">
        select * from book where title=#{title}
    </select>

    <insert id="save" parameterType="com.example.springbootmybatis.bean.Book">
        insert into book(title,author) values(#{title}, #{author})
    </insert>

    <select id="getOne" parameterType="java.lang.Long" resultType="com.example.springbootmybatis.bean.Book">
        select * from book where id=#{id}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from book where id=#{id}
    </delete>
</mapper>