
*.exe
*.o
*.a
*.so
*.dll

#java
*.class
*.war
*.ear
*.jar
*.apk

#python
*.pyc
*/__pycache__/

#eclipse
*/.classpath
*/.project
*/.settings

#intellij
.idea/
target/
build/
*.iws
*.iml
*.ipr

#gradle
*/.gradle/
*.log
*/.springBeans
!gradle-wrapper.jar

.idea/
generation/
