{{ define "bean.tmpl" }}
<html>
<h1>templates/bean.tmpl</h1>
<table>
<tr><td>id</td><td>format</td><td>name</td></tr>
<tr><td>{{ .id }}</td><td>{{ .format }}</td><td>{{ .name }}</td></tr>
</table>
</html>
{{ end }}
